@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Graphik Medium";
  src: url("../public/fonts/GraphikMedium.otf");
}

@font-face {
  font-family: "Graphik Light";
  src: url("../public/fonts/GraphikLight.otf");
}

@font-face {
  font-family: "Graphik Medium";
  src: url("../public/fonts/GraphikBold.otf");
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

 h1, h2, p {
  font-family: 'Graphik Medium';
 }

